In [6]:
# Importando a biblioteca pandas

import pandas as pd

In [7]:
# Carregando o arquivo

df = pd.read_csv('desafio1.csv', index_col = 0)

In [8]:
# Visualizando o arquivo 
df.head()

,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
RowNumber,,,,,,,,,,,
1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [9]:
# Vamos verificar os tipos das vari√°veis

df.dtypes

id                           object
sobrenome                    object
pontuacao_credito             int64
estado_residencia            object
genero                       object
idade                         int64
nivel_estabilidade            int64
saldo_conta                 float64
numero_produtos               int64
possui_cartao_de_credito      int64
membro_ativo                  int64
dtype: object

In [10]:
# Vamos ver as colunas

df.columns

Index(['id', 'sobrenome', 'pontuacao_credito', 'estado_residencia', 'genero',
       'idade', 'nivel_estabilidade', 'saldo_conta', 'numero_produtos',
       'possui_cartao_de_credito', 'membro_ativo'],
      dtype='object')

In [11]:
# Agora vamos para o desafio

mean = df.groupby('estado_residencia')['pontuacao_credito'].mean()
print(mean)

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

In [12]:
median = df.groupby('estado_residencia')['pontuacao_credito'].median()
print(median)

estado_residencia
PR    650
RS    650
SC    653
Name: pontuacao_credito, dtype: int64

In [13]:
mode = df.groupby('estado_residencia')['pontuacao_credito'].agg(pd.Series.mode)
print(mode)

estado_residencia
PR    850
RS    850
SC    850
Name: pontuacao_credito, dtype: int64

In [14]:
std = df.groupby('estado_residencia')['pontuacao_credito'].std()
print(std)

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

In [15]:
# Vamos submeter o desafio

submission = {
    state:{
        'moda': mode[state],
        'media': mean[state],
        'mediana': median[state],
        'desvio_padrao': std[state],
    } for state in mean.index
}

submission = pd.DataFrame(submission)

In [16]:
print(submission)

                       PR          RS          SC
moda           850.000000  850.000000  850.000000
media          648.961294  651.105143  649.537653
mediana        650.000000  650.000000  653.000000
desvio_padrao   98.607186   95.136598   97.233493

In [17]:
submission.to_json('submission.json')