# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [8]:
print(black_friday.shape)

(537577, 12)

In [9]:
def q1():
    return black_friday.shape
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [33]:
print(black_friday['Age'].value_counts())
print(black_friday['Gender'].value_counts())

26-35    214690
36-45    107499
18-25     97634
46-50     44526
51-55     37618
55+       20903
0-17      14707
Name: Age, dtype: int64
M    405380
F    132197
Name: Gender, dtype: int64

In [87]:
woman = black_friday[(black_friday['Gender'] == 'F') & (black_friday['Age'] == '26-35')].shape[0]
print(woman)

49348

In [88]:
def q2():
    return woman
    pass

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [50]:
users = black_friday['User_ID'].nunique()
print(users)

5891

In [6]:
def q3():
    return users
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [51]:
unique_data = black_friday.dtypes.nunique()
print(unique_data)

3

In [52]:
def q4():
    return unique_data
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [70]:
have_values_null = (black_friday.shape[0] - black_friday.dropna().shape[0]) / black_friday.shape[0]
print(have_values_null)

0.6944102891306734

In [71]:
def q5():
    return have_values_null
    pass

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [72]:
values_null = black_friday.isna().sum()
max_values_null = max(values_null)
print(max_values_null)

373299

In [9]:
def q6():
    return max_values_null
    pass

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [74]:
product_category_3 = black_friday['Product_Category_3'].mode()[0]
print(product_category_3)

16.0

In [10]:
def q7():
    return product_category_3
    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [116]:
purchase_normalized = np.array(black_friday["Purchase"]).reshape(-1, 1)
from sklearn.preprocessing import MinMaxScaler
punchase_normalized = MinMaxScaler().fit_transform(purchase_normalized)
df = pd.DataFrame(punchase_normalized)
df_mean = df.mean()[0]
print(df_mean)

0.38479390362696736

In [115]:
def q8():
    return float(df_mean)
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [79]:
purchase_standard = np.array(black_friday['Purchase']).reshape(-1,1)
from sklearn.preprocessing import StandardScaler
purchase_standard = StandardScaler().fit_transform(purchase_standard)
new_df = pd.DataFrame(purchase_standard)
print(new_df)

               0
0      -0.193507
1       1.177699
2      -1.588402
3      -1.661681
4      -0.274012
...          ...
537572  0.467804
537573  1.979945
537574 -0.259156
537575 -0.434020
537576 -0.493646

[537577 rows x 1 columns]

In [95]:
purchase_standard_between = new_df[new_df[0].between(-1,1)].count()[0]
print(purchase_standard_between)

348631

In [96]:
def q9():
    return int(purchase_standard_between)
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [112]:
null = black_friday[black_friday['Product_Category_2'].isna()]
is_equal = null['Product_Category_3'].equals(null['Product_Category_2'])
print(is_equal)

True

In [113]:
def q10():
    return is_equal
    pass